apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ceph-rgw-users
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/momoah/ceph-rgw-gitops.git
    targetRevision: main
    path: users
  
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-storage
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=false
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  # Ignore TLS verification for local GitLab
  ignoreDifferences: []
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/momoah/ceph-rgw-gitops.git
  insecure: "true"
